<section class='new_recipe'>
  <article class='recipe_form'>
    <h2>Enter a new recipe:</h2>

    <form id='new_recipe'action="/recipes" method="post">
      <input class='input_text recipe' type="text" name="title" placeholder='Dish name' >
      <textarea class='input_text recipe ingredients' name='ingredients' placeholder='Ingredients (each ingredient must be followed by a comma)' ></textarea>
      <textarea class='input_text recipe description' name='description' placeholder='Method' ></textarea>
      <input class='input_text recipe' type="text" name="tags" placeholder='Tags' >
      <input class='add_recipe button' type="submit" value="Submit Recipe">
    </form>
  </article>
</section>
