<h2>Enter a new recipe:</h2>
<form id='new_recipe'action="/recipes" method="post">
  Title:</br> <input type="text" name="title"></br>
  Ingredients:</br> <textarea name='ingredients'></textarea></br>
  Description:</br> <textarea name='description'></textarea></br>
  Tags: <input type="text" name="tags">
  <input type="submit" value="Submit Recipe">
</form>
