<section class='sign_form'>
	<article class='sign_up_page'>	
		<h2>Please sign in to myRecipesJournal</h2>

		<form action="/session" method="post">
		  <input class='input_text' name="email" type="text" placeholder='Email address' ></br>
		  <input class='input_text' name="password" type="password" placeholder='Password' ></br>
		  <input class='sign_in button' type="submit" value="Sign in">
		</form>
	</article>
</section>