<section class='sign_form'>
<h1>Please sign in to myRecipesJournal</h1>

	<article class='sign_up_page'>	
		<form action="/session" method="post">
		  <input class='input_text sign' name="email" type="text" placeholder='Email address' ></br>
		  <input class='input_text sign' name="password" type="password" placeholder='Password' ></br>
		  <input class='sign_in button' type="submit" value="Sign in">
		</form>
	</article>
</section>