<section class='sign_form'>
  <article class='sign_up_page'>
    <h2>Please sign in to myRecipesJournal</h2>

    <form action="/session" method="post">
      <input class='input_text' name="email" type="email" placeholder='Email address' >
      <input class='input_text' name="password" type="password" placeholder='Password (8 to 10 characters)' >
      <input class='sign_in button' name='sign_in' type="submit" value="Sign in">
    </form>
  </article>
</section>
