<section class='sign_form'>
	<h2>Please sign up to myRecipesJournal</h2>

	<article class='sign_up_page'>	
		<form action="/users" method="post">
		  <input class='input_text' name="email" type="text" value="<%= @user.email %>" placeholder='Email address' ></br>
		  <input class='input_text' name="password" type="password" placeholder='Password' ></br>
		  <input class='input_text' name="password_confirmation" type="password" placeholder='Password confirmation' ></br>
		  <input class='sign_up button' type="submit" value="Sign up">
		</form>
	</article>
</section>
