<section class='sign_form'>
	<article class='sign_up_page'>	
		<h2>Please sign up to myRecipesJournal</h2>

		<form action="/users" method="post">
		  <input class='input_text' name="email" type="text" value="<%= @user.email %>" placeholder='Email address' >
		  <input class='input_text' name="password" type="password" placeholder='Password' >
		  <input class='input_text' name="password_confirmation" type="password" placeholder='Password confirmation' >
		  <input class='sign_up button' name='sign_up' type="submit" value="Sign up">
		</form>
	</article>
</section>
