<section class='sign_form'>
	<h1>Please sign up to myRecipesJournal</h1>

	<form action="/users" method="post">
	  Email:</br> <input class='input_text' name="email" type="text" value="<%= @user.email %>"></br>
	  Password:</br> <input class='input_text' name="password" type="password"></br>
	  And again:</br> <input class='input_text' name="password_confirmation" type="password"></br>
	  <input type="submit" value="Sign up">
	</form>
</section>
