<header>
  <a href='recipes/new'>Add Recipe</a>

  <form id="tags" method="get" action="/tags">
    <input name="search_tags" type="text">
    <input type="submit" value="Search">
  </form>
</header>
