<header>

  <section class='logo'>
    <a href='/'>myRecipesJournal</a>
  </section>
  <section class='search_tags'>
    <form id="tags" method="get" action="/tags">
      <input name="search_tags" type="text">
      <input id='search_tags' type="submit" value="Search">
    </form>
  </section>

  <% if current_user %>
    Welcome, <%= current_user.email %>
    <a href='recipes/new'>Add Recipe</a>
    <form method="post" action="/sessions">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Sign out">
    </form>
  <% else %>
    <% if @sign_up %>
      <a href='/session/new'>Sign in</a>
    <% elsif @sign_in %>
      <a href='/users/new'>Sign up</a>
    <% else %>
      <a href='/users/new'>Sign up</a>
      <a href='/session/new'>Sign in</a>
    <% end %>
  <% end %>

</header>
