<header>

  <a class='logo' href='/'>myRecipesJournal</a>

    <% if current_user %>
    
      <a class='add_recipe' href='recipes/new'>Add Recipe</a>

      <section class='user_sign_out'>
        <article class='welcome'>
          Welcome, <%= current_user.email %>
        </article>
        <form method="post" action="/sessions">
          <input type="hidden" name="_method" value="delete">
          <input class='user_mngmt sign_up' type="submit" value="Sign out">
        </form>
      </section>

    <% else %>

      <article class='user_mngmt_container'>
        <% if @sign_up %>
          <a class='user_mngmt sign_in' href='/session/new'>Sign in</a>
        <% elsif @sign_in %>
          <a class='user_mngmt sign_up' href='/users/new'>Sign up</a>
        <% else %>
          <a class='user_mngmt sign_in' href='/session/new'>Log in</a>
          <a class='user_mngmt sign_up' href='/users/new'>Sign up</a>
        <% end %>
      </article>

    <% end %>

  <article class='search_tags'>
    <form id="tags" method="get" action="/tags">
      <input class='input_text search' id='search' name="search_tags" type="text" placeholder='Search tag'>
      <input class='search_not_visible' type='submit' value='Search'>
    </form>
  </article>

</header>
