<header>

  <a class='logo' href='/'>myRecipesJournal</a>


  <% if current_user %>
    Welcome, <%= current_user.email %>
    <a href='recipes/new'>Add Recipe</a>
    <form method="post" action="/sessions">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Sign out">
    </form>
  <% else %>
    <article class='user_mngmt'>
      <% if @sign_up %>
        <a class='user_mngmt sign_in' href='/session/new'>Sign in</a>
      <% elsif @sign_in %>
        <a class='user_mngmt sign_up' href='/users/new'>Sign up</a>
      <% else %>
          <a class='user_mngmt sign_in' href='/session/new'>Log in</a>
          <a class='user_mngmt sign_up' href='/users/new'>Sign up</a>
      <% end %>
    </article>
  <% end %>

  <article class='search_tags'>
    <form id="tags" method="get" action="/tags">
      <input id='search' name="search_tags" type="text" placeholder='Search tag'>
    </form>
  </article>

</header>
