<% if !@recipes.empty? %>
	<% @recipes.each do |recipe| %>
		<section class='recipes'>
			<article class='recipes_content'>
		    <article class='recipe_title'>
		      <h2><%= recipe.title %></h2>
		     </article>
	      <p id='ingredients'><%= recipe.ingredients %></p>
	      <p id='description'><%= recipe.description %></p>
			</article>
		</section>
	<% end %>
<% else %>
	<section class='no_recipes'>
			<h1>No recipes yet</h1>
	</section>
<% end %>

<section class='widgets'>
	<article class='twitter_frame'>
		<a class="twitter-timeline" href="https://twitter.com/recipes" data-widget-id="553550267787272192">Tweets by @recipes</a>
	</article>
	<article class='twitter_frame'>
		<a class="twitter-timeline" href="https://twitter.com/BestRecipesUK" data-widget-id="553609084973613056">Tweets by @BestRecipesUK</a>
	</article>

	<article id="my_container" class="fatsecret_container" ></article>
</section>

