<!DOCTYPE html>
<html lan="en">
  <head>
    <meta charset="UTF-8">
    <title>myRecipesJournal</title>
    <%= partial :scripts %>
  </head>
  <body>
    <%= partial :header %>
    <%= partial :flash %>
    <%= yield %>

  </body>
</html>
