<!DOCTYPE html>
<html lan="en">
  <head>
    <meta charset="UTF-8">
    <title>myRecipesJournal</title>
    <link rel='stylesheet' type='text/css' href='/css/application.css'>
    <link rel='stylesheet' type='text/css' href='/css/normalize.css'>
    <script src="http://platform.fatsecret.com/js?key=9d42257506e54c08ac37d7badea8cf36"></script>
    <script type='text/javascript' src="./js/twitter.js"></script>
    <script type='text/javascript' src="./js/fatsecret.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Alfa+Slab+One' rel='stylesheet' type='text/css'>
  </head>
  <body>
      <%= partial :header %>
      <%= partial :flash %>
      <%= yield %>
  </body>
</html>
