<!DOCTYPE html>
<html lan="en">
  <head>
    <meta charset="UTF-8">
    <title>myRecipesJournal</title>
    <link rel='stylesheet' type='text/css' href='/css/application.css'>
    <link rel='stylesheet' type='text/css' href='/css/normalize.css'>
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
  </head>
  <body>
    <header>
      <a href='recipes/new'>Add Recipe</a>

      <form id="tags" method="get" action="/tags">
        <input name="search_tags" type="text">
        <input type="submit" value="Search">
      </form>

    </header>

      <% if current_user %>
        Welcome, <%= current_user.email %>
      <% end %>

      <% if flash[:notice] %>
        <div id="notice"><%= flash[:notice] %></div>
      <% end %>

      <%= yield %>
    <script type="text/javascript" src="./js/interface.js"></script>
  </body>
</html>
